html, body {
  margin: 0;
  font-size: 14px;
  font-weight: 300;
  font-family: Roboto, 'Open Sans', Arial, sans-serif;
}
section {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  padding: 30px 0 20px 0;
}
hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
.cor_fundo {
  background: #f7f7f7;
}
#cor_ods {
  background-color: #008040;
}
/* --------  Header  -------- */
header {
  height: 60px;
  width: 100%;
  position: fixed;
  z-index: 10;
  background: #65C96D;
}
header #logo {
  position: absolute;
  float: left;
  height: 40px;
  width: 170px;
  margin-left: 5%;
}
#img_logo {
  height: 60px;
  width: 60px;
}
header .menu {
  float: right;
  list-style: none;
  margin-top: 0px;
  margin-right: 5%;
}
header .menu li {
  float: left;
  font-size: 18px;
  padding: 15px 10px 19px 10px;
  color: white;
}
header .menu li a {
  color: initial;
  text-decoration: initial;
  color: white;
}
header .menu li:hover {
  background-color: #A1C9A5;
}
#social {
  height: 35px;
}
li#li_social {
  margin-right: 10px;
}
nav { 
  width:auto; 
}
nav ul { 
  display:table; 
  list-style: none;
  margin-top: 15px;
  float:right;
}
nav ul li {
  float:left;
}
nav ul li:last-child { 
  padding-right:0px;
}
nav ul li a {
  color:#f1f1f1; 
  font-size: 18px; 
  padding: 5px 10px; 
  display:inline-block; 
  text-align: center;
}
nav ul li#li a:hover {
  background-color:#A1C9A5; 
}
.toggle-menu {
  top: 0%;
}
.toggle-menu ul {
  display:table; 
  width:25px;
  margin-right: 15px;
  margin-top: -20px;
}
ul {
  padding: 0%;
  margin-bottom: 0%;
  list-style: none;
}
.toggle-menu ul li {
    width:100%; 
    height:3px; 
    background-color:#f1f1f1; 
    margin-bottom:4px;
    margin-right: 5%;
}
.toggle-menu ul li:last-child {
  margin-bottom:0px;
}
input[type=checkbox], label {
  display:none;
}
.content {
  display:table; 
  margin-bottom:60px; 
  width:900px;
}
.content h2 {
  font-size:18px; 
  font-weight:500; 
  color:#002e5b; 
  border-bottom:1px solid #fde428; 
  display:table; 
  padding-bottom:10px; 
  margin-bottom:10px;
}
/* --------  Capa  -------- */
figure {
  margin: 0 auto;
  height: 1000px;
}
figure .imagem_fundo {
  background: url(img/fundo.jpg); 
  background-size: cover;
  height: 100%;
  padding: 10px;
}
figure .titulo {
  color: #FFF;
  line-height: 1.0;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
}
figure h1.titulo {
  font-size: 70px;
  letter-spacing: -3px;
  margin: 20% 20% 0 20%;
  padding-bottom: 20px;
}
figure h2.titulo {
  padding-top: 20px;
  font-size: 30px;
  margin: 0 30% 0 30%;
  border-top: 3px solid black;
  padding-bottom: 30px;
}
.cta {
  border: 1px solid black;
  border-radius: 8px;
  color: white;
  padding: 10 20 10 20;
  text-decoration: initial;
  font-size: 20px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
}
.cta:hover {
  background-color: #A1C9A5;
}
/* --------  Colunas  -------- */
.coluna {
  float: left;
  padding: 0 5%;
  position: relative;
}
.coluna.quatro {
  width: 15%;
  padding: 3% 5% 0 5%;
}
.coluna.tres {
  width: 29%;
  padding: 0 2%;
}
.coluna.dois {
  width: 40%;
}
.coluna .icone {
  border-radius: 50%;
  height: 85px;
  width: 85px;
  text-align: center;
  margin: 0 auto;
}
.coluna .icone img{
  max-width: 60%;
  max-height: 60%;
  margin: 15px;
}
.coluna:hover .icone {
  background: #73E67C;
}
.coluna img {
  width: 100%;
  height: 300px;
}
#seta {
  margin: 0 40% 20px 5%;
}
#img_projeto {
  width: 500px;
  height: 500px;
}
.projeto {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  padding: 20px;
  margin: 10px 35px 5% 2px;
  border: solid #73E67C 5px;
  float: right;
}
.projeto:hover {
  background-color: #73E67C;
}
.border {
  border-radius: 10%;
  border: solid #73E67C 5px;
}
#ods {
  width: 100%;
}
#eu {
  width: 330px;
  padding: 5%;
  margin-bottom: 50px;
  border-radius: 100%;
}
/* --------  Textos  -------- */
h1 {
  text-align: center;
  font-size: 30px;
}
h2 {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 5%;
}
p {
  font-size: 16px;
}
.esquerda {
  text-align: left;
}
.direita {
  text-align: right;
}
.centro {
  text-align: center;
}
.justificado {
  text-align: justify;
}
.link {
  color: white;
}
p, h1, h2, li {
  font-family: 'Lobster', cursive;
}
/*--------   SAVE   --------*/ 
#save {
  font-family: 'Anton', sans-serif;
  font-size: 70px;
  color: #73E67C;
  text-align: center;
}
/* --------  Footer  -------- */
footer {
  background-color: #759378;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  padding: 30px 0 50px 0;
  color: #fff;
}
footer .container {
  padding: 30px 0 50px 0;
}
/* --------  Responsividade  --------*/
@media all and (max-width: 768px) {
  .coluna, .coluna.quatro, .coluna.tres, .coluna.dois{
    display: block;
    width: 80%;
    padding: 10%;
    margin: 0;
    float: none;
    text-align: center;
  }
  header #logo {
    position: relative;
    width: 100%;
    margin-left: 0px;
    text-align: center;
  }
  .menu {
    visibility: hidden;
    position: unset;
    block-size: 0%;
  }
  figure h1.titulo {
    margin: 40% 0 0 0;
    font-size: 35px;
    letter-spacing: 1px;
  }
  figure h2.titulo {
    margin: 0 10% 0 10%;
    font-size: 25px;
  }
  #img_projeto {
    width: 300px;
    height: 300px;
  }
  .projeto {
    margin-right: 0%;
    margin-left: 0%;
  }
  #eu {
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  #seta {
    visibility: hidden;
    width: 0%;
    height: 0%;
  }
  iframe {
    width: 80%;
    height: 60%;
  }
  .projeto.centro {
    visibility: visible;
  }
  .projeto {
    float: none;
  }
  .coluna img {
    height: unset;
  }
  #hr2 {
    visibility: hidden;
    height: unset;
    width: unset;
  }
  #ods {
    width: 100%;
    text-align: center;
  }
  #save {
    font-size: 50px;
  }
  input[type=checkbox] {
    position: absolute; 
    top: -9999px; 
    left: -9999px; 
    background:none;}
  input[type=checkbox]:fous {
    background:none;
  }
  label {
  float: right; 
  padding: 13px 0px; 
  display: inline-block; 
  cursor: pointer; 
  }
  input[type=checkbox]:checked ~ nav {
    display: block;
  }
  nav {
  display:none; 
  position:absolute; 
  right:40px; 
  top:60px; 
  background-color: #008040; 
  padding:0px; 
  z-index:2;
  }    
  nav ul {
    width:auto;
  }
  nav ul li {
    float:none; 
    padding:0px; 
    width:100%; 
    display:table;
  }
  nav ul li a {
    color:#FFF; 
    font-size:15px; 
    padding:10px 20px; 
    display:block; 
    border-bottom: 1px solid rgba(225,225,225,0.1);
  }
  nav ul li a i {
    color:#fde428; 
    padding-right:13px;
  }
  nav ul li a:hover {
  background-color:#002e5b; 
  color:#f1f1f1; 
  }
}